@import "_fn";
@import "_variable";

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{line-height:1.6;font-family:@sansFont;.f(16px);}
body,h1,h2,h3,h4,h5,p,ul,ol,dl,dd,fieldset,textarea{margin:0;}
fieldset,legend,textarea,input,button{padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;*font-family:@sansFont;}
ul,ol{padding-left:0;list-style-type:none;}
a img,fieldset{border:0;}
a{.tdn;}
